body{
	background: rgba(120,10,102,.15);
}
h2{
	font-family: arial;
	font-size: 30pt;
	letter-spacing:-0.6px;
	
}
#player1{ position: absolute;
	color: rgba(255,0,0,.8);
	left: 80px;
	top: 30px;
}
#player2{position: absolute;
	color: rgba(0,0,255,0.8);
	left: 1000px;	
	top:30px;
	}
